* {
    box-sizing: border-box;
  }
  
  #results {
  }
  
  #movie {
    text-align: left;
    margin-top: 1em;
  }
  
  h1 {
    color: white;
  }
  
  h2, h3 {
    color: #ffffff;
    font-weight: 200;
  }
  
  p {
    color: white;
  }
  .movie-details-container{
    overflow:auto;
    margin-right: 50px;
  }
  
  .row {
      overflow: auto;
      padding-top: 1em;
      padding-bottom: 1em;
      color: white;
      font-size: 12px;
  }
  .column {
    float: left;
  }
  .column-md {
    width: 50%;
  }
  .column-lg {
    width: 100%;
  }
  .badge {
    background-color: #7b0105;
    padding:.3rem 1rem;
    border-radius: 4px;
    color: white;
  }
  #date {
    font-size:1.5rem;
    font-weight: 200;
    color: white ;
  }
  #poster {
    padding-left: 100px;
    max-width: 70%;
  }
  
  #tagline {
    color: #ffffff;
  }
  #genres, #runtime,#rating,#companies {
    color: white;
  }
  


  .divicons {
    display: flex;
    img {
      width: 25px;
      height: 25px;
    }
  }

  .backgroundImageOriginal {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 120%;
    
    /* Set up proportionate scaling */

    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: -100px;
    opacity: 50%;
    z-index: -10;
  }